server:
  port: 8765
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          lower-case-service-id: true
      routes:
        - id: pizzaria-service
          uri: lb://pizzaria-service
          predicates:
            - Path=/menu/**
          filters:
            - RewritePath=/menu/?(?<resto>.*), /pizzaria-service/$\{resto}
        - id: estoque-service
          uri: lb://estoque-service
          predicates:
            - Path=/ingredientes/**
          filters:
            - RewritePath=/ingredientes/?(?<resto>.*), /estoque-service/$\{resto}
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true
